<section class="carousel-principal">
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/panel1.png" class="d-block w-100" alt="Imagen Oferta">
            </div>
            <div class="carousel-item">
                <img src="img/panel2.png" class="d-block w-100" alt="Segunda Oferta">
            </div>
            <div class="carousel-item">
                <img src="img/panel3.png" class="d-block w-100" alt="Tercera Oferta">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>
</section>

<section class="hero align-items-stretch">
    <div class="hero-principal d-flex flex-column container">
        <h1>Top Ventas</h1>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="mb-3 card">
                    <div class="mx-3 card-body">
                        <img src="https://falabella.scene7.com/is/image/FalabellaPE/gsc_120142460_2584238_1?wid=800&hei=800&qlt=70" alt="Imagen del producto" class="card-img-top">
                        <h5 class="card-title">Camiseta Manga Corta</h5>
                        <p class="card-text">Color: Negro</p>
                        <p class="card-text">Precio: S/.19.99</p>
                        <div class="btn-group mx-2" role="group" aria-label="Actualizar y Eliminar">
                            <a href="/product/edit/{{_id}}"></i>
                                <button type="submit" class="btn btn-success btn-sm mx-2">Agregar al Carro</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="mb-3 card">
                    <div class="mx-3 card-body">
                        <img src="https://falabella.scene7.com/is/image/FalabellaPE/gsc_121444868_3040820_1?wid=800&hei=800&qlt=70" alt="Imagen del producto" class="card-img-top">
                        <h5 class="card-title">Camiseta Manga Larga</h5>
                        <p class="card-text">Color: Beige</p>
                        <p class="card-text">Precio: S/.35.99</p>
                        <div class="btn-group mx-2" role="group" aria-label="Actualizar y Eliminar">
                            <a href="/product/edit/{{_id}}"></i>
                                <button type="submit" class="btn btn-success btn-sm mx-2">Agregar al Carro</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="mb-3 card">
                    <div class="mx-3 card-body">
                        <img src="https://falabella.scene7.com/is/image/FalabellaPE/gsc_120173844_2590299_1?wid=800&hei=800&qlt=70" alt="Imagen del producto" class="card-img-top">
                        <h5 class="card-title">Chaleco de Manga Cero</h5>
                        <p class="card-text">Color: Negro</p>
                        <p class="card-text">Precio: S/.89.99</p>
                        <div class="btn-group mx-2" role="group" aria-label="Actualizar y Eliminar">
                            <a href="/product/edit/{{_id}}"></i>
                                <button type="submit" class="btn btn-success btn-sm mx-2">Agregar al Carro</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex text-right">
            <a href="/product/all-products-client">Ver más</a>
        </div>
    </div>
</section>



<section id="nosotros" class="hero align-items-stretch bg-white">
    <div class="hero-principal container">
        <h1>Nosotros</h1>
        <div class="row mt-4">
            <div class="col-md-6 p-5">
                <div class="imagen-nosotros">
                    <img src="/img/nosotros.jpg" alt="imagen de nosotros" width="450" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6 p-5 mt-4">
                <div class="descripcion-nosotros">
                    <p>Textimel Moda S.A.C somos una destacada empresa peruana especializada en la fabricación y
                        comercialización de prendas de vestir de alta calidad. Nuestra pasión por la moda se refleja en
                        cada detalle de nuestras creaciones, y aspiramos a ser reconocidos como líderes en la industria.
                        Con un compromiso inquebrantable con la excelencia y la elegancia, Textimel Moda S.A.C se
                        esfuerza por elevar el estándar de la moda, ofreciendo productos que inspiran confianza y estilo
                        a nuestros clientes.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="contacto" class="hero align-items-stretch">
    <div class="hero-principal container">
        <h1>Contacto</h1>
        <div class="row">
            <div class="col-md-6">
                <p>Horario de Atención: Lunes a Viernes, 9am - 5pm</p>
                <p>Teléfonos: 123-456-7890</p>
                <p>Correo Electrónico: info@textimel.com</p>
                <h2>Ubicación</h2>
                <p>Dirección: Calle Principal, Ciudad</p>
            </div>
            <div class="col-md-6">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.865604153731!2d-77.11374372392596!3d-12.052766742014562!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105cbfa54c1c7cd%3A0x13a95ad704c73f12!2sLos%20Diamantes%20128%2C%20Callao%2007001!5e0!3m2!1ses!2spe!4v1700299941678!5m2!1ses!2spe"
                    width="400" height="400" style="border:2;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>