<div class="container p-5">
    <div class="card mx-auto" style="max-width: 600px;">
        <div class="card-header text-center">
            <h3>Agregar Nuevo Producto</h3>
        </div>
        <form class="p-5" action="/product/new-products" method="POST">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" class="form-control" id="nombre" placeholder="Nombre" autofocus>
            </div>

            <div class="form-group">
                <label for="descripcion">Descripción:</label>
                <textarea name="descripcion" id="descripcion" placeholder="Descripción" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label for="precio">Precio:</label>
                <input type="number" step="0.01" name="precio" id="precio" placeholder="Ingrese el Precio"
                    class="form-control">
            </div>

            <div class="form-group">
                <label for="tallas">Tallas:</label>
                <div class="row">
                    <div class="col text-center">
                        <label for="stockS">S</label>
                        <input type="number" name="stockS" id="stockS" class="form-control" placeholder="Cant">
                    </div>
                    <div class="col text-center">
                        <label for="stockM">M</label>
                        <input type="number" name="stockM" id="stockM" class="form-control" placeholder="Cant">
                    </div>
                    <div class="col text-center">
                        <label for="stockL">L</label>
                        <input type="number" name="stockL" id="stockL" class="form-control" placeholder="Cant">
                    </div>
                    <div class="col text-center">
                        <label for="stockXL">XL</label>
                        <input type="number" name="stockXL" id="stockXL" class="form-control" placeholder="Cant">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="color">Color:</label>
                <input name="color" id="color" placeholder="Color" class="form-control">
            </div>

            <div class="form-group">
                <label for="genero">Género:</label>
                <input name="genero" id="genero" placeholder="Género" class="form-control">
            </div>

            <div class="form-group">
                <label for="imagen">URL de la Imagen:</label>
                <input type="text" name="imagen" id="imagen" placeholder="URL de la imagen" class="form-control">
            </div>

            <div class="form-group d-flex justify-content-end">
                <button class="btn btn-primary btn-block mt-3 ">Guardar</button>
            </div>
        </form>
    </div>
</div>