<!-- views/product/search.hbs -->
<h1>Buscar Productos</h1>
<form action="/product/search" method="GET">
    <input type="text" name="query" placeholder="Buscar productos">
    <button type="submit">Buscar</button>
</form>
