<h3 class="mt-5 text-center">Selecciona el Método de Pago</h3>
<div class="container p-5 d-flex align-items-center">
    <div class="mx-5">
        <div class="lista-producto mb-5 card">
            <h3 class="m-3">Billeteras Digitales</h3>

            <div class="d-flex justify-content-around align-items-center">
                <img src="/img/yape.png" alt="Yape" class="mx-5" width="70" height="70">
                <img src="/img/plin.png" alt="Plin" class="mx-5"  width="70" height="70">
                <img src="/img/tunki.png" alt="Tunki" class="mx-5" width="70" height="70">
            </div>

            <div class="mt-2" role="group">
                <a href="#">
                    <button type="submit" class="btn btn-warning btn-m mx-2">Seleccionar</button>
                </a>
            </div>
        </div>



        <div class="lista-producto mb-5 card">
            <h3 class="m-3">Tarjetas Débito/Crédito</h3>
            <div class="d-flex justify-content-around align-items-center">
                <img src="/img/MasterCard.png" alt="imagen mastercard" width="80" height="50">
                <img src="/img/visa.png" alt=" imagen visa" width="80" height="80">
                <img src="/img/american.png" alt="imagen americanExpress" width="80" height="80">
                <img src="/img/Diners.png" alt="imagen DinersClub" width="150" height="50">
            </div>
            <div  role="group">
                <a href="#"></i>
                    <button type="submit" class="btn btn-warning btn-m mx-2">Seleccionar</button>
                </a>
            </div>
        </div>

        <div class="lista-producto mb-5 card">
            <h3 class="m-3">Contra Entrega</h3>

            <div class="d-flex justify-content-around align-items-center">
                <img src="/img/efectivo.png" alt="imagen efectivo" class="mx-2" width="80" height="80">
                <img src="/img/tarjeta.png" alt="imagen tarjeta" class="mx-2" width="80" height="80">
            </div>

            <div class="mt-1" role="group">
                <a href="#"></i>
                    <button type="submit" class="btn btn-warning btn-m mx-2">Seleccionar</button>
                </a>
            </div>
        </div>
    </div>

    <div class="precios-detalles col-12 col-md-4 d-flex flex-column align-items-center card">
        <h4 class="my-4">Resumen de la Orden</h4>
        <h5 class="mx-4"><strong>Costo de Envío:</strong> S/. 6.00</h5>
        <h5 class="mx-4"><strong>Subtotal:</strong> S/. 145.97</h5>
        <h5 class="mx-4"><strong>Total:</strong> S/. 151.97</h5>

        <a href="#">
            <button type="submit" class="btn btn-success mt-4">Realizar Compra</button>
        </a>
    </div>
</div>