

<h3 class="mt-5 text-center">Carro (3 Productos)</h3>
<div class="container p-5 d-flex align-items-center">
    <div class="mx-5">
        <div class="lista-producto d-flex mb-5">
            <div class="">
                <img src="https://falabella.scene7.com/is/image/FalabellaPE/gsc_120142460_2584238_1?wid=800&hei=800&qlt=70"
                    alt="Imagen del producto" class="p-3 mx-5" width="180px">
            </div>
            <div class="mx-5 mt-4">
                <h5 class="title">Camiseta Manga Corta</h5>
                <p class="text">Color: Negro</p>
                <p class="text">Talla: S</p>
                <p class="text">Cantidad: 1</p>
            </div>
            <div class="mx-5 mt-4" role="group" aria-label="Eliminar">
                <h4 class="text">S/.19.99</h4>

                <div class="d-flex align-items-center mt-4">
                    <div class="talla mx-1">-</div>
                    <span class="mx-2">1</span>
                    <div class="talla mx-1">+</div>
                </div>

                <a href="#"></i>
                    <button type="submit" class="btn btn-danger btn-m mx-2 mt-4">Eliminar</button>
                </a>
            </div>
        </div>


        <div class="lista-producto d-flex mb-5">
            <div class="">
                <img src="https://falabella.scene7.com/is/image/FalabellaPE/gsc_121444868_3040820_1?wid=800&hei=800&qlt=70"
                    alt="Imagen del producto" class="p-3 mx-5" width="180px">
            </div>
            <div class="mx-5 mt-4">
                <h5 class="title">Camiseta Manga Larga</h5>
                <p class="text">Color: Beige</p>
                <p class="text">Talla: L</p>
                <p class="text">Cantidad: 2</p>
            </div>
            <div class="m-5 mt-4" role="group" aria-label="Eliminar">
                <h4 class="text">S/.35.99</h4>

                <div class="d-flex align-items-center mt-4">
                    <div class="talla mx-1">-</div>
                    <span class="mx-2">2</span>
                    <div class="talla mx-1">+</div>
                </div>

                <a href="#"></i>
                    <button type="submit" class="btn btn-danger btn-m mx-2 mt-4">Eliminar</button>
                </a>
            </div>
        </div>

        <div class="lista-producto d-flex mb-5">
            <div class="">
                <img src="https://falabella.scene7.com/is/image/FalabellaPE/gsc_120173844_2590299_1?wid=800&hei=800&qlt=70"
                    alt="Imagen del producto" class="p-3 mx-5" width="180px">
            </div>
            <div class="mx-5 mt-4">
                <h5 class="title">Chaleco de Manga Cero</h5>
                <p class="text">Color: Negro</p>
                <p class="text">Talla: M</p>
                <p class="text">Cantidad: 1</p>
            </div>
            <div class="mx-5 mt-4" role="group" aria-label="Eliminar">
                <h4 class="text">S/.89.99</h4>

                <div class="d-flex align-items-center mt-4">
                    <div class="talla mx-1">-</div>
                    <span class="mx-2">1</span>
                    <div class="talla mx-1">+</div>
                </div>

                <a href="#"></i>
                    <button type="submit" class="btn btn-danger btn-m mx-2 mt-4">Eliminar</button>
                </a>
            </div>
        </div>
    </div>

    <div class="precios-detalles col-12 col-md-4 d-flex flex-column align-items-center">
        <h4 class="my-4">Resumen de la Orden</h4>
        <h5 class="mx-4"><strong>Costo de Envío:</strong> S/. 6.00</h5>
        <h5 class="mx-4"><strong>Subtotal:</strong> S/. 145.97</h5>
        <h5 class="mx-4"><strong>Total:</strong> S/. 151.97</h5>

        <a href="payments">
            <button type="submit" class="btn btn-success mt-4">Continuar Compra</button>
        </a>
    </div>
</div>