<footer class="footer-principal">
    <div class="container">
        <div class="footer-contenido row">
            <div class="col-md-4">
                <h4>Te ayudamos</h4>
                <ul>
                    <li><a href="#">Atención por WhatsApp</a></li>
                    <li><a href="#">Centro de Ayuda</a></li>
                    <li><a href="#">Tipos de Entrega</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Redes Sociales</h4>
                <ul>
                    <li>
                        <a href="#">
                            <i class="fab fa-facebook fa-2x"></i>
                            Facebook
                        </a>
                    </li>
                    <li class="mt-2">
                        <a href="#">
                            <i class="fab fa-instagram fa-2x"></i>
                            Instagram
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Encuéntranos en</h4>
                <p>Jr. Los Diamantes Nro. 128 Urb. Balconcillo</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer-contenido row">
            <div class="col-md-4">
                <h4>Contáctanos</h4>
                <ul>
                    <li><a href="#">Soporte en línea</a></li>
                    <li><a href="#">Preguntas frecuentes</a></li>
                    <li><a href="#">Envíanos un correo</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Descubre más</h4>
                <ul>
                    <li><a href="#">Nuestros servicios</a></li>
                    <li><a href="#">Nuestra historia</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Suscríbete</h4>
                <p>Recibe nuestras novedades y ofertas por correo.</p>
                <form>
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Tu correo electrónico">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">Suscribirse</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <span>&copy; TODOS LOS DERECHOS RESERVADOS</span>
    </div>
</footer>
