<div class="inicio d-flex flex-column">
    <div class="inicio-contenido d-flex container">
        <div class="inicio-formulario ">
            <div class="text-center">   
                <h3> Inicia Sesion Aquí</h3>
            </div>
            <form action="/users/signin" method="POST">
                <div class="formulario-contenido">
                    <div class="form-group mt-3 body-email">
                        <label>Correo</label>
                        <input class="body-input-email form-control mt-1 " type="email" name="correo"
                            placeholder="Ingresa un correo valido">
                    </div>

                    <div class="form-group mt-3 body-contraseña">
                        <label>Contraseña</label>
                        <input class="body-input-contraseña form-control mt-1 " type="password" name="password"
                            placeholder="Ingresa una contraseña">
                    </div>
                </div>

                <div class="form-group formulario-btn justify-content-center align-items-center">
                    <button class="btn btn-primary w-100">Iniciar Sesion</button>
                    <p class="mt-2">¿No tienes cuenta? <a href="/users/signup"><strong>Registrate</strong></a></p>
                </div>
            </form>
        </div>
    </div>
</div>